---
const year = new Date().getFullYear();
---
<footer class="flex justify-between items-center mt-16 pt-6 border-t border-neutral-800 font-mono text-xs text-neutral-500">
  <div>&copy; {year} <a href="https://x.com/rafifmsn" class="hover:text-white">(@rafifmsn)</a></div>
  <div class="flex space-x-5">
     <a href="https://github.com/rafifmsn/rmsn-web" class="hover:text-white">Source</a>
  </div>
</footer>