---
interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<header class="mb-4 pb-4 border-b border-brand-border">
  <h1 class="text-2xl font-bold text-white mb-2">{title}</h1>
  {subtitle && (
    <p class="text-neutral-500 text-sm mt-4 font-mono">
      {subtitle}
    </p>
  )}
</header>